**Q1. What is a database? Differentiate between SQL and NoSQL databases.**

**Ans :-**  A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

Difference between SQL and NoSQL database :--

* SQL databases are relational, and NoSQL databases are non-relational.
* SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
* SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
* SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
* SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

**Ans :-**

**DDL :-** A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.

* CREATE :- The CREATE TABLE command is used to create a new table in the database.

 A copy of an existing table can also be created using CREATE TABLE.

 The following SQL creates a table called "Persons" that contains five columns: PersonID, LastName, FirstName, Address, and City:

 ```
 CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);
```

* DROP :- The DROP TABLE command deletes a table in the database.

  The following SQL deletes the table "Shippers":* DROP :- The DROP TABLE command deletes a table in the database.

  The following SQL deletes the table "Shippers":

  `DROP TABLE Shippers;`

* ALTER :- The ALTER TABLE command adds, deletes, or modifies columns in a table.

  The ALTER TABLE command also adds and deletes various constraints in a table.

  The following SQL adds an "Email" column to the "Customers" table:

  ```
  ALTER TABLE Customers
ADD Email varchar(255);
```

* TRUNCATE :- The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

  The following SQL truncates the table "Categories":
  ```
  ALTER TABLE Customers
ADD Email varchar(255);
```

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

**Ans :-**

**DML :-** A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database. This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data. DML is mostly incorporated in SQL databases.

* INSERT :- This command can be used to insert data into a row of a table. INSERT INTO would insert the values that are mentioned in the ‘Student’ table below.
```
INSERT INTO Student(Stu_Name, DOB, Phone, Mail)
VALUES(‘Phoebe’, ‘1998-05-26’, 7812865845, ‘user@xyz.com’);
```
* UPDATE :- This statement in SQL is used to update the data that is present in an existing table of a database. The UPDATE statement can be used to update single or multiple columns on the basis of our specific needs.

  `UPDATE Student SET Phone = 9039462901 WHERE Stu_Name = ’Phoebe’;`

* DELETE :- The DELETE statement can be used in SQL to delete various records from a given table. On the basis of the condition that has been set in the WHERE clause, one can delete single or multiple records.

  `DELETE FROM Student WHERE Stu_Name = ’Phoebe’;`

  The command given above would delete the record for the student with the name ‘Phoebe’ from the ‘Student’ table. Apart from this, one can also use the LOCK Table statement to explicitly acquire the shared or exclusive table lock on a specified table.

**Q4. What is DQL? Explain SELECT with an example.**

**Ans :-** DQL is Data Query Language which statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

* SELECT :-
It is used to retrieve data from the database.

  `SELECT Stu_Name FROM Student WHERE Phone = 9039462908;`

  The command given above would select the record from the table ‘Student’ where the phone number is ‘9039462908’.

**Q5. Explain Primary Key and Foreign Key.**

**Ans :-**

Primary Key :- A primary key generally focuses on the uniqueness of the table. It is a column or a set of columns that uniquely distinguishes every row in the database. It means it should not have any duplicate value. Also, it doesn’t contain a NULL value.

Foreign Key :- A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

Python code to connect MySQL to python
```
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

print(mydb)
```

* cursor() method :- A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query.

* execute :- The execute () method helps us to execute the query and return records according to the query. The syntax of the execute () function is:

  `execute (query, args = None)`

**Q7. Give the order of execution of SQL clauses in an SQL query.**

**Ans :-**

#Query order of execution :-
1. FROM and JOIN :-

  The FROM clause, and subsequent JOINs are first executed to determine the total working set of data that is being queried. This includes subqueries in this clause, and can cause temporary tables to be created under the hood containing all the columns and rows of the tables being joined.

2. WHERE :-

  Once we have the total working set of data, the first-pass WHERE constraints are applied to the individual rows, and rows that do not satisfy the constraint are discarded. Each of the constraints can only access columns directly from the tables requested in the FROM clause. Aliases in the SELECT part of the query are not accessible in most databases since they may include expressions dependent on parts of the query that have not yet executed.

3. GROUP BY :-

  The remaining rows after the WHERE constraints are applied are then grouped based on common values in the column specified in the GROUP BY clause. As a result of the grouping, there will only be as many rows as there are unique values in that column. Implicitly, this means that you should only need to use this when you have aggregate functions in your query.

4. HAVING :-

  If the query has a GROUP BY clause, then the constraints in the HAVING clause are then applied to the grouped rows, discard the grouped rows that don't satisfy the constraint. Like the WHERE clause, aliases are also not accessible from this step in most databases.

5. SELECT:-

  Any expressions in the SELECT part of the query are finally computed.

6. DISTINCT
Of the remaining rows, rows with duplicate values in the column marked as DISTINCT will be discarded.

7. ORDER BY :-

  If an order is specified by the ORDER BY clause, the rows are then sorted by the specified data in either ascending or descending order. Since all the expressions in the SELECT part of the query have been computed, you can reference aliases in this clause.

8. LIMIT / OFFSET :-

  Finally, the rows that fall outside the range specified by the LIMIT and OFFSET are discarded, leaving the final set of rows to be returned from the query.