**1. Write a program to accept percentage from the user and display the grade according to the following criteria:**

In [ ]:
marks = int(input("Enter marks :- "))
print("Grade =",end=" ")
if marks>90:
  print("A")
elif marks>80 and marks<=90:
  print("B")
elif marks>=60 and marks<=80:
  print("C")
else:
  print("D")

Enter marks :- 72
Grade = C

**2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:**

In [ ]:
cost =int(input("Enter the cost price of bike :- "))
print("Road tax to be paid : ",end=" ")
if cost>100000:
  print("15%")
elif cost>50000 and cost<=100000:
  print("10%")
elif cost<=50000 and cost>=0:
  print("5%")
else:
  print("Enter valid cost")

Enter the cost price of bike :- 10000
Road tax to be paid :  5%

**3. Accept any city from the user and display monuments of that city.**

In [27]:
city = input("Enter the name of the city : ")
if city=="Delhi":
  print("Red FOrt")
elif city=="Agra":
  print("Taj Mahal")
elif city=="Jaipur":
  print("Jal Mahal")
else:
  print("Enter correct name of the city.")

Enter the name of the city : Agra
Taj Mahal

**4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.**

In [ ]:
count = 0
number = int(input("Enter a number : "))
n=number
while number > 10:
    number = number / 3
    count = count + 1
print(count ,"times the number", n, "can be divided by 3 before it is less than or equal to 10")

Enter a number : 154
3 times the number 154 can be divided by 3 before it is less than or equal to 10

**5. Why and When to Use while Loop in Python give a detailed description with example.**

Ans:- Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied. And when the condition becomes false, the line immediately after the loop in the program is executed.While loop falls under the category of indefinite iteration. Indefinite iteration means that the number of times the loop is executed isn’t specified explicitly in advance.

A while loop is used when the number of iterations is unknown. It is used when we need to end the loop on a condition other than the number of repetitions. It is not necessary to know the condition ahead of time in this case. That is why we can use a boolean expression in the loop's initialization.

In [11]:
i = 1
# Iterate until the given condition is true
while i < 10:
   print(i)
   i += 1

1
2
3
4
5
6
7
8
9

**6. Use nested while loop to print 3 different pattern.**

In [21]:
# Right Triangle
n = int(input('Enter number of rows : '))
print("\n")
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows : 10


*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [22]:
# Inverted Right Triangle
n = int(input('Enter number of rows : '))
print("\n")
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows : 10


* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [23]:
# Full Triangle Pyramid

size = int(input("Enter number of rows : "))
print("\n")
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Enter number of rows : 10


                  *
                 *  *
                *  *  *
               *  *  *  *
              *  *  *  *  *
             *  *  *  *  *  *
            *  *  *  *  *  *  *
           *  *  *  *  *  *  *  *
          *  *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *  *  *  *

**7. Reverse a while loop to display numbers from 10 to 1.**

In [24]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

**8. Reverse a while loop to display numbers from 10 to 1.**

In [25]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1