**Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.** 

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [26]:
cricketers = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
cricketers.sort(key = lambda x: x[1])
print(cricketers)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

**Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.**

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s = list(map(lambda x: x**2,l))
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions.**

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [19]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s = list(map(lambda x: str(x),l))
print(tuple(s))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

**Q4.  Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.**

In [22]:
from functools import reduce
l=[]
for i in range(1,26):
  l.append(i)
print(l)
s = reduce(lambda x,y:x*y,l)
print(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
15511210043330985984000000

**Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.**

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [23]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
m = filter(lambda x: x%2==0 and x%3==0,l)
print(list(m))

[6, 60, 90, 120]

**Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.**

['python', 'php', 'aba', 'radar', 'level']

In [24]:
l = ['python', 'php', 'aba', 'radar', 'level']
m = filter(lambda x:x==x[::-1],l)
print(list(m))

['php', 'aba', 'radar', 'level']